.base-stats-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.base-stats-section__title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
}

.base-stats-section__stats {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 0;
}

